body {
    margin: 0px;
    background-color: #e3e3db;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.horizontal-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.horizontal-menu__item {
    flex: 1;
    padding: 0;
    list-style: none;
}

.horizontal-menu__link {
    display: block;
    text-decoration: none;
    font-style: 14px;
    font-weight: 500;
    padding: 15px;
    color: #fff;
    background-color: #687a6e;
}

.horizontal-menu__link:hover {
    text-decoration: none;
    color: #fff;
    background-color: #687a6e9c;
}

.vertical-menu {
    width: 20%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vertical-menu__item {
    list-style: none;
}

.vertical-menu__link {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: #fff;
    background-color: #a57b7c;
}

.vertical-menu__link:hover {
    text-decoration: none;
    color: #fff;
    background-color: #deb0b0;
}

.main-menu {
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-menu__item {
    display: inline-block;
    padding: 0;
    list-style: none;
    position: relative;
}

.main-menu__link {
    display: block;
    text-decoration: none;
    font-style: 14px;
    font-weight: 500;
    width: 200px;
    padding: 15px;
    color: #fff;
    background-color: #687a6e;
}

.main-menu__link:hover {
    text-decoration: none;
    color: #fff;
    background-color: #687a6e9c;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
    display: none;
    position: absolute;

}
.submenu__item{
    position: relative;
}
.submenu__link {
    display: block;
    text-decoration: none;
    font-style: 14px;
    font-weight: 500;
    padding: 10px;
    color: #fff;
    background-color: #687a6e;
}

.submenu__link:hover {
    text-decoration: none;
    color: #fff;
    background-color: #687a6e9c;
}

.main-menu__item:hover .submenu {
    display: block;
}

.subsubmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    left: 100%;
    top: 0;
    display: none;
    position: absolute;

}
.subsubmenu__link {
    display: block;
    text-decoration: none;
    font-style: 14px;
    font-weight: 500;
    padding: 10px;
    width: 150px;
    color: #fff;
    background-color: #687a6e;
}

.subsubmenu__link:hover {
    text-decoration: none;
    color: #fff;
    background-color: #687a6e9c;
}
.submenu__item:hover .subsubmenu {
    display: block;
}