body {
    margin: 0px;
    background-color: #e3e3db;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.menu__item {
    flex: 1;
    padding: 0;
    list-style: none;
    
}
.menu__link {
    display: block;
    text-decoration: none;
    font-style: 14px;
    font-weight: 500;
    padding: 15px;
    color: #fff;
    background-color: #687a6e;
    
}
.menu__link:hover {
    text-decoration: none;
    color: #fff;
    background-color: #687a6e9c;
}