@media print {
    @page {
        margin: 1cm;
    }

    img {
        display: none;
    }
    .container {
        width: 90%;
    }
    header {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    section {
        page-break-inside: avoid;
        margin-bottom: 1cm;
    }
    .our-tours {
        display: none;
    }
    .contact {
        display: none;
    }

    p {
        widows: 4;
    }
}