body {
    margin: 0;
    background: #4B79A1;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #283E51, #0A2342);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #283E51, #0A2342);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -olinear-gradient(to top, #283E51, #0A2342);
    height: 100vh;
}

#sun {

    offset-path: path("M1 162C381.742 -77.9296 574.915 -26.2175 1909 162");
    animation: move 12s linear infinite;
}

#bird_1 {
    width: 200px;
    position: absolute;
    top: 300px;
    right: 280px;
    animation: bird 4s ease-in-out infinite;
    z-index: 2;
    fill: yellow;
    filter: drop-shadow(15px 11px 15px rgb(255, 0, 0));
}

#bird_1:hover {
    fill: red;
    transition: 2s ease-in-out;
}

#bird_2 {
    width: 200px;
    position: absolute;
    top: 300px;
    right: 1280px;
    animation: bird 4s ease-in-out infinite;
    z-index: 2;
    fill: yellow;
    filter: drop-shadow(15px 11px 15px rgb(0, 30, 255));

}

#bird_2:hover {
    transition: 2s ease-in-out;
    opacity: 0;
}


@keyframes sunshine {
    0% {
        fill: red;
    }

    50% {
        fill: rgb(255, 111, 0);
    }

    100% {
        fill: rgb(255, 242, 0);
    }
}

@keyframes move {
    0% {
        offset-distance: 100%;
        fill: red;
    }

    50% {
        fill: rgb(255, 111, 0);
    }

    100% {
        fill: rgb(255, 242, 0);
    }
}

@keyframes bird {
    0% {
        top: 300px;
    }

    50% {
        top: 350px;
    }

    100% {
        top: 400px;
    }
}